* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}
.hover-links {
  color: var(--primary-text-color);
}
.hover-links:hover {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}

/* utilityclass */

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  text-align: center;
}
.primary-button:hover {
  background-color: var(--accent-color-dark);
}

.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  padding: 12px 24px;
  transition: 0.2s ease-out;
}
.secondary-button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}
/* topbanner */
.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}
.topbanner {
  background-color: #4fb3d4;
  background-image: url("asset 30.png");
  background-size: 300px;
}

/* navbar section */
.main-nav {
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}
.company-logo img {
  width: 200px;
}
.nav-link {
  flex-basis: 730px;
}
.nav-link ul {
  gap: 40px;
  justify-content: end;
  font-size: 1rem;
}
#nav-toggle {
  display: none;
}

/* header section */

header {
  padding: 50px var(--padding-inline-section);
}
.header-section {
  justify-content: center;
  gap: 50px;
}
.h-left {
  max-width: 40vw;
}
.h-left h1 {
  margin-top: 20px;
}
.get {
  margin-top: 20px;
}
.h-right img {
  width: 100%;
}

/* company section */
.companies-header {
  text-align: center;
  margin-block: 30px;
  color: var(--primary-text-color);
}
.logos {
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.logo {
  height: 46px;
}

/* feature section */
.feature-section {
  padding: 80px var(--padding-inline-section) 0;
  /* background-image: url("src/assets/asset 32.svg");
   background-repeat: no-repeat;
   background-position: center; */
}
.feature-header {
  text-align: center;
}
.feature-header h2 {
  margin-bottom: 20px;
}
.feature-area {
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.feature-card {
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
  text-align: center;
}
/* bigfeature section */
.big-feature {
  padding: 30px var(--padding-inline-section);
}
#second-big-feature {
  flex-direction: row-reverse;
}
.big-feature-container {
  gap: 30px;
}
.feature-img img {
  width: 100%;
}
.feature-discription {
  flex-direction: column;
  align-items: flex-start;
}
/* example section */
.example-section {
  padding: 80px var(--padding-inline-section);
}
.example-header {
  text-align: center;
}
.example-header h2 {
  margin-bottom: 20px;
}
.example-card {
  width: 23%;
  position: relative;
  height: 300px;
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("src/assets/asset 35.jpeg");
  background-size: cover;
  transition: 0.2s ease-out;
}
.example-card:hover {
  box-shadow: 0 0 10px #888;
}
.example-card:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("src/assets/asset 34.jpeg");
  background-size: cover;
}
.card-text {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 20px;
  color: white;
}
.example-area {
  justify-content: space-between;
  margin-block: 30px;
  flex-wrap: wrap;
}

/* Cta section */

.cta-section-container {
  flex-direction: column;
  gap: 30px;
  color: white;
}

.cta-section {
  background-color: #183b54;
  padding: 120px var(--padding-inline-section);
}

.cta-section-container p {
  color: white;
  margin-top: 20px;
}

/* Footer */
.sub-container {
  justify-content: space-between;
}
.sub-link {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
}
footer {
  padding-block: 80px;
  background-color: #ebf2fa;
}

@media screen and (max-width: 1024px) {
  .h3 {
    font-size: 1.2rem;
  }
  #nav-toggle {
    display: block;
    margin-left: 20px;
  }
  /* .main-nav{
    overflow: initial;
    background-color: white;
  } */
  /* .nav-link ul{
    flex-direction: column;
  } */
  .example-area {
    gap: 20px;
  }
  .example-card {
    width: calc(50% - 10px);
    height: 180px;
  }
  .cta-section {
    padding-block: 80px;
  }
  .nav-link{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .primary-button {
    width: 100%;
  }
  .header-section {
    flex-direction: column-reverse;
  }
  .h-left {
    max-width: 100vw;
    text-align: center;
  }
  .feature-card {
    min-width: calc(50% - 10px);
  }
  .big-feature-container,
  #second-big-feature {
    flex-direction: column;
  }
  .sub-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sub-link {
    align-items: stretch;
  }
  
}
@media screen and (max-width: 475px){
   :root{
      --padding-inline-section: 10px;
   }
   h1 {
      font-size: 2rem;
    }
    
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    p{
      font-size: 1rem;
    }
    .feature-card{
      min-width: 100%;
    }
    .example-card{
      width: 100%;
    }
    
}
